<h1>Welcome to The SilverCheetah Bistro!</h1>


<mat-slider min="1" max="100" step="1" value="1"></mat-slider>



<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Erat nam at lectus urna duis convallis. Nunc sed id semper risus in hendrerit gravida. Nibh tortor id aliquet lectus. Augue interdum velit euismod in. Magna fringilla urna porttitor rhoncus dolor purus non enim. A scelerisque purus semper eget duis at tellus. Amet porttitor eget dolor morbi non arcu risus. Euismod nisi porta lorem mollis aliquam ut porttitor leo. Mi tempus imperdiet nulla malesuada pellentesque. Elit ullamcorper dignissim cras tincidunt lobortis. Gravida rutrum quisque non tellus orci ac auctor augue. Sed tempus urna et pharetra pharetra. Sed egestas egestas fringilla phasellus faucibus scelerisque. Eleifend donec pretium vulputate sapien. Morbi tempus iaculis urna id. Lectus quam id leo in.</p>

<p>Sagittis id consectetur purus ut faucibus pulvinar. Aliquet nibh praesent tristique magna sit amet purus gravida quis. Pretium lectus quam id leo in vitae turpis massa sed. Pellentesque massa placerat duis ultricies. Arcu odio ut sem nulla. Elementum nibh tellus molestie nunc non. Semper feugiat nibh sed pulvinar proin gravida. Massa placerat duis ultricies lacus sed. Ac turpis egestas integer eget aliquet nibh praesent tristique. Laoreet non curabitur gravida arcu ac tortor dignissim convallis. Sit amet nisl purus in. Eu mi bibendum neque egestas congue. Amet luctus venenatis lectus magna fringilla urna porttitor. Tincidunt id aliquet risus feugiat. Risus feugiat in ante metus dictum at.</p>
